*{
    margin: 0;
    padding: 0;
    /* max-width: fit-content; */
}

.mxWid1{
    max-width: 86vw;
}

.mxWid2{
    max-width: 64vw;
}

.mAto{
    margin: auto;
}

nav {
    height: 25px;
    background-color: crimson;
}

main {
    height: 85px;
}

footer {
    height: 50px;
    text-align:center;
}
